.formInput {
  max-width: 35%;
  min-width: 350px;
  margin: 0px auto;
}
.contactMePage {
  height: 100vh;
}
.formValidationText {
  max-width: 10vw;
}
#validationCommet,
textarea {
  min-height: 10vh;
  overflow-wrap: break-word;
}
textarea {
  width: 100%;
}
